
h2 {
    font-size: xx-large;
    color: navy;

}

.box {
    height: 200px;
    width: 450px;
    border: 2px solid white;
    border-radius: 12px;
    background-color: aqua;
    box-sizing: border-box;
    padding: 10px;
}

#words {
    height: 30px;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: aquamarine;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 50px;

}

.ttl, .rmn {
    color: navy;
    font-size: large;
    display: flex;
    margin-top: 10px;
}

.rmn {
    color: red;
}

.red {
    color: red;
}