
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orangeColor: #f2c14e;
    --darkColor: #2d414b;
}

body {
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.container h1 {
    font-size: xx-large;
    color: whitesmoke;
}

#gameboard {
    width: 700px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}