body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("../assets/pexels-brett-sayles-1322185.jpg");
    background-size: cover;
    overflow: hidden;
}

h2 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    align-items: center;
    font-style: italic;
    font-weight: bolder;
    
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
    
}

.clock span {
    width: 100px;
    height: 80px;
    background-color: yellow;
    font-size: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    font-style: italic;
    font-weight: bolder;

}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    background-color: red;

}

.clock #ampm {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    width: 60px;
    height: 40px;
    background-color: red;
    color: black;

}

