
.labels {
    padding: 10px;
    margin: 20px;
    position: relative;
    top: 100px;
}

.success {
    background-color: green;
    color: white;
    font-size: large;
}

.warning {
    background-color: orange;
    color: white;
    font-size: large;
}

.error {
    background-color: red;
    color: white;
    font-size: large;

}

.info {
    background-color: blue;
    color: white;
    font-size: large;
}